.container {
    background-color: #303030;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    width: 40%;
    margin-left: 30%;
    height: 25vh;
    font-family: Calibri, sans-serif;
}

.dropzone {
    align-items: center;
    align-self: center;
    padding: 2rem;
    text-align: center;
    border: solid 1px #979797;
    position: relative;
    margin: 0 auto;
}

.files-list {
    padding-top: 2%;
    background-color: #303030;
}

.testclass {
    background-color: #303030;
    height: 100%;
    align-items: center;
    align-content: center;
    padding-top: 10%;
}

.spinner{
    align-self: center;
    width: 10%;
    margin-left: 45%;
}

input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

label {
    color: lightgray;
    width: 10%;
    height: 30%;
    font-size: 4em;
    border-radius: 21.5px;
    border-width: 10%;
    border-color: #db202f;
    border-style: solid;
    background-color: #db202f;
    padding: 2%, 2%;
    margin-top: 2%;
    cursor: pointer;
}

.info {
    width: 50%;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 2%;
}

.file-input {
    width: 10%;
    height: 30%;
}

h3 {
    margin-top: 2%;
    font-size: 2.5em;
    color: lightgray;
}

.mat-chip-list {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  .delete {
      margin-top: 2%;
      height: 15%;
      width: 20%;
  }

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}